* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
 }
    
 body {
     background-color: grey;
 }
 
.imagens {
    margin: 100px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
 
 main {
     margin-top: 150px;
 }
 
 header nav ul a{
     color: white;
     text-decoration: none;
 }
 
 header nav ul a:hover {
     color: red;
 }